main {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div {
  padding: 10px;
  border-radius: 7px;
}

div.top {
  width: 1006px;
  height: 485px;

  background: #F9F4E7;
}

div.bottom {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 1006px;
  height: 157px;

  background: #EAEBF1;
}